$primary-text-color: #333333;
$title-text-color: #45525b;
$link-text-color: #444444;
$subtitle-text-color: #6f7278;
$accent-text-color: #ff8a63;

$transition: cubic-bezier(0.4, 0, 0.2, 1);

$accent-color: #ff8a63;
